<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Courses by Major</title>
    <link rel="stylesheet" href="/styles/light-mode.css" />
    <link
      rel="stylesheet"
      href="/styles/dark-mode.css"
      id="dark-mode-styles"
      disabled
    />

    <!-- Immediate dark mode application -->
    <script src="/theme.js"></script>

    <script src="/updated_script.js" defer></script>
  </head>

  <body>
    <!-- Header -->
    <header class="header">
      <a href="/">
        <div class="logo-container">
          <img src="/images/logo.png" alt="A+ Petroly Logo" class="logo" />
          <span class="logo-text">Petroly</span>
        </div>
      </a>
      <div class="tabs">
        <button class="tab" onclick="location.href='/your-courses'">
          Your Courses
        </button>
        <button class="tab" onclick="location.href='/files-by-majors'">
          Files by Majors
        </button>
        <button class="tab" onclick="location.href='/general-courses'">
          General Courses
        </button>
      </div>
      <div class="icons">
        <span class="icon" id="lang-en">🇬🇧</span>
        <span class="icon" id="lang-ar">🇦🇪</span>
        <span class="icon" id="theme-toggle">☀️</span>
      </div>
    </header>

    <hr class="styled-hr" />

    <!-- Main Content -->
    <main class="main-content">
      <h2 id="major-name"></h2>
      <div class="card-container" id="course-cards"></div>
    </main>

    <!-- Footer -->
    <footer class="footer">&copy; 2025 Haytham Hamdan</footer>
  </body>
</html>
