<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Files by Major</title>
    <link rel="stylesheet" href="/styles/light-mode.css" />
    <link
      rel="stylesheet"
      href="/styles/dark-mode.css"
      id="dark-mode-styles"
      disabled
    />

    <!-- Immediate dark mode application -->
    <script src="/theme.js"></script>

    <script src="/updated_script.js" defer></script>
  </head>
  <body class="other-pages">
    <!-- Header -->
    <header class="header">
      <a href="/">
        <div class="logo-container">
          <img src="/images/logo.png" alt="A+ Petroly Logo" class="logo" />
          <span class="logo-text">Petroly</span>
        </div>
      </a>
      <div class="tabs">
        <button class="tab" onclick="location.href='/your-courses'">
          Your Courses
        </button>
        <button class="tab">Files by Majors</button>
        <button class="tab" onclick="location.href='/general-courses'">
          General Courses
        </button>
      </div>
      <div class="icons">
        <span class="icon" id="lang-en">🇬🇧</span>
        <span class="icon" id="lang-ar">🇦🇪</span>
        <span class="icon" id="theme-toggle">☀️</span>
      </div>
    </header>

    <hr class="styled-hr" />

    <!-- Main Content -->
    <main class="main-content">
      <div class="card-container">
        <div class="card" onclick="location.href='/major-courses?major=AE'">
          AE
        </div>
        <div class="card" onclick="location.href='/major-courses?major=ARE'">
          ARE
        </div>
        <div class="card" onclick="location.href='/major-courses?major=AS'">
          AS
        </div>
        <div class="card" onclick="location.href='/major-courses?major=BIOE'">
          BIOE
        </div>
        <div class="card" onclick="location.href='/major-courses?major=CHE'">
          CHE
        </div>
        <div class="card" onclick="location.href='/major-courses?major=CHEM'">
          CHEM
        </div>
        <div class="card" onclick="location.href='/major-courses?major=CIE'">
          CIE
        </div>
        <div class="card" onclick="location.href='/major-courses?major=COE'">
          COE
        </div>
        <div class="card" onclick="location.href='/major-courses?major=CS'">
          CS
        </div>
        <div class="card" onclick="location.href='/major-courses?major=EE'">
          EE
        </div>
        <div class="card" onclick="location.href='/major-courses?major=EEPH'">
          EEPH
        </div>
        <div class="card" onclick="location.href='/major-courses?major=ESE'">
          ESE
        </div>
        <div class="card" onclick="location.href='/major-courses?major=FIN'">
          FIN
        </div>
        <div class="card" onclick="location.href='/major-courses?major=GEOL'">
          GEOL
        </div>
        <div class="card" onclick="location.href='/major-courses?major=GEOP'">
          GEOP
        </div>
        <div class="card" onclick="location.href='/major-courses?major=HRM'">
          HRM
        </div>
        <div class="card" onclick="location.href='/major-courses?major=ISE'">
          ISE
        </div>
        <div class="card" onclick="location.href='/major-courses?major=ITD'">
          ITD
        </div>
        <div class="card" onclick="location.href='/major-courses?major=MATH'">
          MATH
        </div>
        <div class="card" onclick="location.href='/major-courses?major=ME'">
          ME
        </div>
        <div class="card" onclick="location.href='/major-courses?major=MIS'">
          MIS
        </div>
        <div class="card" onclick="location.href='/major-courses?major=MINE'">
          MINE
        </div>
        <div class="card" onclick="location.href='/major-courses?major=MKT'">
          MKT
        </div>
        <div class="card" onclick="location.href='/major-courses?major=MSE'">
          MSE
        </div>
        <div class="card" onclick="location.href='/major-courses?major=PETE'">
          PETE
        </div>
        <div class="card" onclick="location.href='/major-courses?major=PHYS'">
          PHYS
        </div>
        <div class="card" onclick="location.href='/major-courses?major=SSC'">
          SSC
        </div>
        <div class="card" onclick="location.href='/major-courses?major=SWE'">
          SWE
        </div>
      </div>
    </main>

    <footer class="footer">&copy; 2025 Haytham Hamdan</footer>
  </body>
</html>
